@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Press Start 2P', monospace;
    @apply bg-gray-800 text-gray-100;
  }

  nav {
    font-family: 'VT323', monospace;
  }

  .crosshair {
    cursor: url('crosshair.cur'), auto;
  }
}
